@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

/* General Styles */
* {
  box-sizing: border-box;
}

h1, h2, h3, button{
  font-family: 'Roboto', sans-serif;
  color: rgb(65, 65, 65);
}

h1 {
  font-size: 1.5rem;
  color: #444554;
}

h2, button{
  font-size: .9rem;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: .9rem;
}

p {
  color: rgb(100, 100, 100);
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  width: 85vw;
  margin: 0;
}

img {
    max-width: 90%;
    max-height: 90%;
    margin-bottom: 1rem;
}

body {
  background-color: rgb(250, 250, 250);
}

header, main, footer, nav, .navbar, .section, .project{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: white;
}

a:link, a:visited {
  text-decoration: none;
  color: rgb(65, 65, 65);
}

nav {
  width: 100vw;
  margin: 1rem auto;
}

.navbar {
  width: 100%;
}

.navbar h2 {
  width: 90%;
  text-align: center;
  margin: .25rem 0;
  background-color: white;
  padding: .5rem;
  cursor: pointer;
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90vw;
}

.introduction img {
  width: 60vw;
}

.project img{
  margin-top: 2rem;
}

.contact p {
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.bot-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  border-top: 1px solid lightgray;
  padding: 1rem .25rem;
}

.tablet {
  display: none;
}


/* Media Queries */
@media screen and (min-width: 768px) {

  .navbar, .introduction{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar {
    width: fit-content;
  }
  .navbar h2{
    background-color:rgb(250, 250, 250) ;
    padding: 1.5rem;
  }
  .introduction {
    align-items: flex-start;
    padding-top: .5rem;
  }

  .introduction p{
    order: -1;
    flex: 2;
    font-size: 1.25rem;
    text-align: left;
    line-height: 1.5rem;
    margin-right: 1.5rem;
  }
  .introduction img {
    flex: 1;
    width: 35vw;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .project {
    width: 50%;
    margin-bottom: 2rem;
  }

  .project p {
    width: 35vw;
  }

  .contact p {
    width: 65vw;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .mobile {
    display: none;
  }

  .tablet h2:last-child {
    padding-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  nav, .navbar, .introduction {
    display: flex;
    flex-direction: row;
  }

  nav {
    width: 90vw;
    justify-content: space-between;
  }

  .navbar {
    width: fit-content;
  }

  .navbar h2:last-child {
    padding-right: 0;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .project {
    width: 33%;
    margin-bottom: 2rem;
  }

  .project p {
    width: 80%;
  }

   .contact p {
    width: 45vw;
  }

  .mobile {
    display: none;
  }
}
